body {
        background-color:#0F728A;
        margin: 0 auto;
      }



header {
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Ca met aligné vertical */
        align-items: center; /* Et ici horizontal */
        
    }

div.title1 {
    background-color: rgba(255, 255, 255, 0.623);
    font-family: 'Mochiy Pop One', sans-serif; /* Trouvé sur google font */
}


/* Slider , juste pour les images pour l'instant */
div.slides {
    display: flex; /* définition de la zone de conteneur flexible au niveau intégré). Sinon, le navigateur ignore toutes les propriétés Flexbox */
    flex-direction: row-reverse;  /* Par défaut, tous les éléments flex tiennent sur une seule ligne et, si les éléments flex sont trop larges pour le conteneur, ils débordent. Pour éviter cela, utilisez la propriété flex-wrap pour envelopper les éléments. */
    justify-content: space-between;
    animation: glisse 3s linear 1s infinite alternate ease;
    gap: 60px;
        
}







/* Ici on marque les animations du slider, et quand c'st fini on s'en sert pour la div.slide en animation */
                 @keyframes glisse {
                     from {
                        transform: translate(-10px,0px); /* translate(sur x, sur y); */
                          }
                    
                       to {
                        transform: translate(10px,0px);
                          } 
                  }



.navigation {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 1; 
    background: deepskyblue;
    font-family: 'Roboto', sans-serif;


}

.menu {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: auto;
    gap: 10px;
  
  
   
    



}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 1; 
    background: deepskyblue;
    font-family: 'Road Rage', cursive;





}