body {
        background-color:#0F728A;
        margin: 0 auto;
      }



header {
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Ca met aligné vertical */
        align-items: center; /* Et ici horizontal */
    }

div.title1 {
    background-color: rgba(255, 255, 255, 0.623);
    font-family: 'Mochiy Pop One', sans-serif; /* Trouvé sur google font */
}


/* Slider , juste pour les images pour l'instant */
div.slides {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    animation: glisse 3s linear 1s infinite alternate;
}



img {
    width: 300px;
}
/* Ici on marque les animations du slider, et quand c'st fini on s'en sert pour la div.slide en animation */
                 @keyframes glisse {
                     from {
                        margin-left: 40%;
                        width: 50%;
                      }
                    
                      to {
                        margin-left: 50%;
                        width: 50%;
                      }
                  }



.navigation {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0; 
   
    background: deepskyblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    

}