* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

.item:hover {
    box-shadow: -5px 3px 1px 1px rgb(168, 168, 168);
    transition: 0.3s;
}


#header {
    width: 100%;
    background-color: rgb(114, 42, 42);
    padding: 10px;
    color: rgb(196, 131, 131);
}
#header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



nav ul {
    width: 50%;
    float: left;
    list-style: none;
}



header nav ul li {
    float: left;
    min-width: 10%;
    padding: 4px;
    margin-left: 10px;
    background-color: #ece6e1;
    text-align: center;
    color: rgb(131, 61, 61);
}
#header nav ul li a, a {
    text-decoration: none;
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; /* Combien je laisse de px autour de mon contenu */
    gap: 12px;
    background-color: burlywood;
}