* {
     font-family: 'Roboto', sans-serif;
    }

header {
    background: rgb(219, 189, 219);
    height: 300px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    padding: 12;
 
    }
section.sliders {

    animation: glisse 3s linear 1s infinite alternate;
}

/* Ici on marque les animations du slider, et quand c'st fini on s'en sert pour la div.slide en animation */
@keyframes glisse {
    from {
       transform: translate(-100px,0px); /* translate(sur x, sur y); */
         }
   
      to {
       transform: translate(100px,0px);
         } 
 }

h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    color: wheat;
    line-height: 100px;
    margin: 0;


}

section {
    display: flex;
    justify-content: space-around;
  /*   background-color: burlywood; */
  }


article {

    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    margin: 10px; /* POUR QUE CA SEPARE LES BOX */
    flex-direction: column;
    padding: 12px;
   
}
